
main{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* text-align: center; */
}
label{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: teal;
}
input, textarea{
    margin: 20px 2px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: 1px solid rgb(255, 127, 127);
    border-radius: 2px;
}
button{
    margin : 20px 0px;
    padding: 10px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}
button:hover{
    color:white;
    background-color: black;
}
input:focus,
textarea:focus{
    outline-color: darkviolet;
}
input:hover,
textarea:hover{
    outline-color: rgb(91, 207, 37);
}