body{
    margin:0px;
    padding:0px;
    color: violet;
    font-family:'Courier New', Courier, monospace;
}
.main_header{
    height : 58px;
    background-color: rgb(36, 93, 26);
    padding: 0px 50px;
    margin: 0px;
    width: 100%;
}
.main_nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main_nav_list{
    list-style: none;
    margin:0px;
    padding: 0px;
    display: flex;
}

.main_nav_list_item{
    padding:0px 20px;
    margin: 0px;
    font-size: 28px;
}

.main_nav_list_item a {
    text-decoration: none;
    /* font-weight: bold; */
    color : rgb(255, 136, 0);
}
.main_nav_list_item a.active{
    color: white;
}


/* --------------------------------------hover-------------------------------------- */
.main_nav_list_item a:hover,
.main_nav_list_item a:active{
    color: white;
}



/*---------------------------------------active----------------------------------------*/


