
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
*{
    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;
    color: darkmagenta;
    font-family: sans-serif;
}
.main_header{
    height : 45px;
    background-color: rgb(36, 93, 26);
    padding: 0px 40px;
    margin: 0px;
    width: 100%;
}
.main_nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main_nav_list{
    list-style: none;
    margin:0px;
    padding: 0px;
    display: flex;
}

.main_nav_list_item{
    padding:0px 10px;
    margin: 0px;
    font-size: 15px;
}

a{
    margin : 7px 1.5px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    color: blue;
}
.main_nav_list_item a {
    text-decoration: none;
    color : rgb(255, 136, 0);
}
.main_nav_list_item a.active{
    color: white;
}


.items{
    margin: 20px;
    display: block;
    /* text-align: center; */
}

.centered{
    text-align: center;
}
.main_heading{
    font-size : 40px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.card{
    box-shadow: 1px 2px 8px 1px red;
    width: 300px;
    margin: 10px;
}

.card_header p,
.card_content p
.card_content h1{
    margin:0px;
    padding: 10px 10px;
}

.card_image{
    width: 100%;
    margin : 0px;
    padding: 0px;
}
.card_image img{
    margin : 0px;
    padding: 0px;
    width: 100%;
}

.card_actions{
    display: inline-flex;
}

.card_actions button,
.card_actions a {
    border: 1px solid blue;
    border-radius: 2px;
    color: blue;
    padding: 5px;
    text-decoration: none;
    background-color: white;
    margin: 0px 5px 10px 5px;
}

h1,p{
    text-align: center;
    font-size: 19px;
}

/* --------------------------------------hover-------------------------------------- */
.main_nav_list_item a:hover,
.main_nav_list_item a:active{
    color: white;
}

.card_actions button:hover,
.card_actions a:hover {
    color: white;
    background-color: blue;
}


/*---------------------------------------active----------------------------------------*/


