<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <h1>Page not created - cart!</h1>

<%- include('../includes/end.ejs') %>  